@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: Dimbo;
    src: url(DimboRegular.ttf);
}

body {
    background-image: url(black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1::selection {
    background: rgba(63, 53, 53, 0.75);
}

p::selection {
    background: rgba(63, 53, 53, 0.75);
    color: white;
}

h1 {
    font-family: 'Dimbo';
    text-decoration: underline;
    text-decoration-color: rgba(63, 53, 53, 0.75);

}

header h1 {
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: .5px white;
    color: black;
}

#contain {
    background: rgba(104, 103, 103, 0.800);
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    margin: 20px;
    height: 300px;
}

#saludo p {
    padding-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 50px 50px 20px 50px;
}

#versiones {
    float: left;
}

#version1 {
    color: white;
    font-family: 'Roboto';
    margin-left: 100px;
    font-size: 30px;
}

#download {
    font-family: 'Roboto';
    margin-left: 127px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#download:hover {
    margin-left: 126px;
    border: 2px solid white;
    box-sizing: content-box;
}

#download:active {
    margin-left: 129px;
    font-size: 14px;
}

#images {
    position: absolute;
    top: 325px;
    left: 320px;
}

